<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>GalleryLA{{#if title}} - {{title}}{{/if}} API</title>
        <meta name="description" content="" />
        <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
        <script type='text/javascript' src='/js/jquery.js'></script>
        <script type='text/javascript' src="/js/main.js"></script>
    </head>
    <body>
        <div id="page" class="container">







            {{#if firstName}}
            <div id="greeting" style="float:right">
            	<strong>Hi, {{firstName}}!</strong>
            	<a href="/users/logout">Log Out</a>
            </div>
            {{/if}}
	        
	           
							
			<div id="page-content">
				<!-- BEGIN page-specific content -->
				{{{body}}}		
				<!-- END page-specific content -->
			</div>									


            
	        <footer id="colophon" role="contentinfo">

	        </footer>
        </div>        
    </body>
</html>