@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body {
font-family: 'Lato', sans-serif;
text-transform: uppercase;
font-size: 25px;
font-weight: 900;
top: 0;
left: 0;
width: 100%;
height: auto;
text-align: center;
margin: 0;

}

a:link {
text-decoration: none;
color: white;
}

a:visited {
text-decoration: none;
color: white;
}

a:hover {
text-decoration: none;
color: white;
}

a:active {
text-decoration: none;
color: white;
}

button, input, select, textarea, a {
font-family : inherit;
font-size   : 100%;
width : 100%;
margin: 0;

-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
-moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
box-sizing: border-box;
}

.allg {
text-align: left;
}


.allg p, .allg h3 {
padding: 0;
margin: 0;
}

.allg li {
width: 90%;
margin: 0 auto;
}

ul {
list-style-type: none;
padding: 0;
}


.sbtn {
background-color: #000;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 25px;
cursor: pointer;
-webkit-appearance: none;
-moz-appearance:    none;
appearance:         none;
}


.container {
width: 100%;
position: relative;
height: auto;
margin: auto;

}

.logindiv, .createuser, .creategal, .editgal {
display: inline-block;
position: relative;
height: auto;
width: 90%;
}


.gallist {
display: inline-block;
}

#page-content {

position: relative;
width: 100%;
height: 570px;
display: inline-block;
margin: 0 auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

.form-group, .form-submit {
text-align: left;
}

.form-group {
width: 100%;
display: inline-block;
}

.form-group input {
width: 100%;
display: inline-block;
}

#greeting, .creategalbtn {
	width: 90%;
	margin: 0 auto;
}