
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 900;
	top: 0;
	left: 0;

}

.container {
	width: 80%;
	position: relative;
	height: auto;
	margin: auto;

}

.logindiv {

  	margin: auto;
 	position: absolute;
  	top: 0; 
  	left: 0; 
  	bottom: 0; 
  	right: 0;
  	width: 30%;
  	height: auto;

}


#page-content {

	position: relative;
    width: 100%;
    height: 570px;
    display: inline-block;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}