<div class="textwidget margin-top-30">
	<p>Edit Docket<p>
</div>
<div class="widget">
	<form name="create-docket-form" id="create-docket-form" method="post">
		<div class="form-group">
			<label for="galleryName">Gallery name</label>
			<input type="text" id="galleryName" name="galleryName" required value="{{this.galleryName}}"/>
		</div>
		<div class="form-group">
			<label for="address">address</label>
			<input type="text" id="address" name="address" required value="{{this.address}}"/>
		</div>

		<div class="form-submit">
			<input type="submit" value="Edit my docket" />
		</div>
		<span style="color:red">{{error}}</span>
	</form>
</div>