<div class="textwidget margin-top-30">
<p>All dockets</p>
</div>
<div class="widget">
<ul>
	    {{#each doclist}}

			<li><h3>{{this.galleryName}}</h3><br/><p>{{this.address}}</p></li>

		{{/each}}

</ul>

</div>